
*{
    
}

body{
    background: #00c0f5;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #559cbd;
    color: #000000;
    height: 6em;
    font: small-caps;
}
header h1{
    text-align: center;
}
p{
    color: #ffffff;
}
li{
    color: #ffffff;
}
img{
    border-radius: 18px;
    max-width: 100%;
    height: auto;
}
section{
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

