
*{
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100%;
}

body{
    background: #00c0f5;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header h1{
    text-align: center;
    padding: 1em;
    color: rgb(21, 117, 226);
    background-color: rgb(133, 186, 236);
    width: 100%;
}
p{
    color: #ffffff;
}
li{
    color: #ffffff;
}
img{
    border-radius: 18px;
    max-width: 100%;
    height: auto;
}
section > div{
    flex: 1;
    margin: 2%;
}

section{
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
main{
    flex: 1;
}

li{
    padding: 10px;
}

li a{
    color: white;
    text-decoration: none;
        text-align: center;
}

a:hover{
    color: black;
}
a:visited{
    color: rgb(0, 98, 245);
}

footer{
    margin-top: auto;
    text-align: center;
    background-color: #24a2cc;
}
